In [1]:
#Extensive updates 2019/6/12
# Create yearly summary by type - display
# Create yearly summary by type - write to csv output.csv in format to paste into electronic logbook
# Future improvements: summarise simulator time and Multi-engine time

In [2]:
#Yearly summary:
start_date='2018-12-12'
end_date='2019-12-12'

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
logbook_file='/home/pkotze/logbook.csv'
df=pd.read_csv(logbook_file)

In [5]:
headings=['Date','Type','Reg','Pilot','Details',
          'It_Nav','It_Pla','IT_Act','IT_FSTD',
          'In_ME','In_SE','In_Sim','FSTD',
          'SED_Dual','SED_Pic','SED_Pus','SED_Cop',
          'SEN_Dual','SEN_Pic','SEN_Pus','SEN_Cop',
          'MED_Dual','MED_Pic','MED_Pus','MED_Cop',
          'MEN_Dual','MEN_Pic','MEN_Pus','MEN_Cop',
          'TOL_Day','TOL_Nig','Remarks']

#define summary header needed
#summary_header=headings[1:2] + headings[7:-1]  
#summary header without type as column
summary_header=headings[7:-1]

df = pd.read_csv('/home/pkotze/logbook.csv', 
                 names = headings, header=None, usecols=range(32), 
                 parse_dates=['Date'],index_col=['Date'])

In [6]:
#define function to add up SINGLE ENGINE totals day and night in a dataframe
def totals(dff):
    t_pic=dff['SED_Pic'].sum()+dff['SEN_Pic'].sum()
    t_dual=dff['SED_Dual'].sum()+dff['SEN_Dual'].sum()
    total=dff['SED_Dual'].sum()+dff['SED_Pic'].sum()+dff['SEN_Dual'].sum()+dff['SEN_Pic'].sum()
    return(t_pic, t_dual, total)

In [7]:
#define function to add up SINGLE ENGINE totals day and night in a dataframe
def totals_page(dff):
    t_pic_d=dff['SED_Pic'].sum()
    t_pic_n=dff['SEN_Pic'].sum()
    t_dual_d=dff['SED_Dual'].sum()
    t_dual_n=dff['SEN_Dual'].sum()
    total=dff['SED_Dual'].sum()+dff['SED_Pic'].sum()+dff['SEN_Dual'].sum()+dff['SEN_Pic'].sum()
    print("*SE pic Day: %3.1f *SE dual Day: %3.1f *SE pic night: %3.1f *SE dual nighty: %3.1f *Totals:  %3.1f"
          % (t_pic_d, t_dual_d, t_pic_n, t_dual_n, total))

In [8]:
print(df.sum())
print("\n **** \n")
print("SE_PIC: %3.1f  * SE_DUAL: %3.1f  * SE_TOTAL: %3.1f" % totals(df) )

totals_page(df)

Type        C152C152C152C152C152C152C152C152C152C152C152C1...
Reg         EC-GEBEC-GEBEC-GEBG-BNRKG-BZEAG-BNRKG-BNRKG-BM...
Pilot       MorlansMorlansVegaSewellSewellSewellSewellSewe...
Details     LERS-LERSLERS-LERSLERS-LERSEGLK-EGLKEGLK-EGLKE...
IT_Act                                                   23.8
IT_FSTD                                                  39.4
In_ME                                                     0.0
In_SE                                                     0.0
In_Sim                                                    0.0
FSTD                                                     40.8
SED_Dual                                           115.266667
SED_Pic                                            390.516667
SED_Pus                                                   0.0
SED_Cop                                                   0.0
SEN_Dual                                                  7.5
SEN_Pic                                                   6.5
SEN_Pus                                                   0.0
SEN_Cop                                                   0.0
MED_Dual                                                  0.0
MED_Pic                                                   0.0
MED_Pus                                                   0.0
MED_Cop                                                   0.0
MEN_Dual                                                  0.0
MEN_Pic                                                   0.0
MEN_Pus                                                   0.0
MEN_Cop                                                   0.0
TOL_Day                                                 966.0
TOL_Nig                                                  38.0
dtype: object

 ****

SE_PIC: 397.0  * SE_DUAL: 122.8  * SE_TOTAL: 519.8
*SE pic Day: 390.5 *SE dual Day: 115.3 *SE pic night: 6.5 *SE dual nighty: 7.5 *Totals:  519.8

/tmp/ipykernel_7581/995205867.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.sum())

In [9]:
#Output summary by registration

Uregs=df['Reg'].unique()
print(Uregs)

#print(np.size(Types))
for reg in Uregs: 
    regdf=df[df['Reg']==reg]
    print(reg)
    print("Pic: %3.1f \t + Dual: %3.1f \t = Total: %3.1f" %  totals(regdf) )

['EC-GEB' 'G-BNRK' 'G-BZEA' 'G-BMTB' 'G-CDTX' 'EC-FPE' 'EC-JHS' 'EC-ICE'
 'EC-JFZ' 'G-JJAN' 'G-BLWV' 'G-CCHT' 'G-BLJO' 'G-BDTX' 'ZS-JIM' 'ZS-EGZ'
 'ZS-SNS' 'ZS-DPS' 'ZS-POV' 'ZS-OHI' 'P-SFC' 'ZS-LSN' 'ZS-KUI' 'ZS-FTG'
 'ZU-EAE' 'ZU-DWK' 'ZS-RMP' 'ZS-SLM' 'ZS-SDV' 'ZS-JDF' 'ZS-JXD' 'ZS-SIM'
 'ZS-KKE' 'ZU-BJI' 'ZU-TPT' 'ZU-ELG' 'ZS-MDF' 'ZS-SCE' 'ZP-021' 'ZU-NTC'
 'ZS-AJW' 'FNPT2' 'ZU-FIH' 'ZS-NNP' 'ZU-IFY' 'ZU-WAB' 'ZS-AWX' 'ZS-FWK']
EC-GEB
Pic: 0.0 	 + Dual: 3.0 	 = Total: 3.0
G-BNRK
Pic: 3.4 	 + Dual: 10.5 	 = Total: 13.9
G-BZEA
Pic: 0.0 	 + Dual: 1.8 	 = Total: 1.8
G-BMTB
Pic: 1.1 	 + Dual: 6.5 	 = Total: 7.6
G-CDTX
Pic: 2.2 	 + Dual: 9.2 	 = Total: 11.4
EC-FPE
Pic: 0.0 	 + Dual: 1.4 	 = Total: 1.4
EC-JHS
Pic: 0.0 	 + Dual: 5.7 	 = Total: 5.7
EC-ICE
Pic: 0.0 	 + Dual: 1.8 	 = Total: 1.8
EC-JFZ
Pic: 0.0 	 + Dual: 1.4 	 = Total: 1.4
G-JJAN
Pic: 0.0 	 + Dual: 0.5 	 = Total: 0.5
G-BLWV
Pic: 0.0 	 + Dual: 0.9 	 = Total: 0.9
G-CCHT
Pic: 2.7 	 + Dual: 0.0 	 = Total: 2.7
G-BLJO
Pic: 0.6 	 + Dual: 0.8 	 = Total: 1.3
G-BDTX
Pic: 1.9 	 + Dual: 0.0 	 = Total: 1.9
ZS-JIM
Pic: 15.5 	 + Dual: 8.8 	 = Total: 24.3
ZS-EGZ
Pic: 5.0 	 + Dual: 0.0 	 = Total: 5.0
ZS-SNS
Pic: 3.2 	 + Dual: 0.0 	 = Total: 3.2
ZS-DPS
Pic: 7.0 	 + Dual: 0.0 	 = Total: 7.0
ZS-POV
Pic: 2.0 	 + Dual: 4.2 	 = Total: 6.2
ZS-OHI
Pic: 0.0 	 + Dual: 2.1 	 = Total: 2.1
P-SFC
Pic: 0.0 	 + Dual: 0.0 	 = Total: 0.0
ZS-LSN
Pic: 5.0 	 + Dual: 2.7 	 = Total: 7.7
ZS-KUI
Pic: 2.7 	 + Dual: 0.0 	 = Total: 2.7
ZS-FTG
Pic: 0.0 	 + Dual: 0.1 	 = Total: 0.1
ZU-EAE
Pic: 49.6 	 + Dual: 1.3 	 = Total: 50.9
ZU-DWK
Pic: 32.2 	 + Dual: 0.0 	 = Total: 32.2
ZS-RMP
Pic: 0.0 	 + Dual: 2.4 	 = Total: 2.4
ZS-SLM
Pic: 1.3 	 + Dual: 0.0 	 = Total: 1.3
ZS-SDV
Pic: 0.0 	 + Dual: 1.8 	 = Total: 1.8
ZS-JDF
Pic: 1.2 	 + Dual: 8.0 	 = Total: 9.2
ZS-JXD
Pic: 3.4 	 + Dual: 7.2 	 = Total: 10.6
ZS-SIM
Pic: 0.0 	 + Dual: 0.0 	 = Total: 0.0
ZS-KKE
Pic: 1.5 	 + Dual: 9.4 	 = Total: 10.9
ZU-BJI
Pic: 39.0 	 + Dual: 7.8 	 = Total: 46.8
ZU-TPT
Pic: 6.6 	 + Dual: 1.3 	 = Total: 7.9
ZU-ELG
Pic: 0.0 	 + Dual: 1.0 	 = Total: 1.0
ZS-MDF
Pic: 0.0 	 + Dual: 0.6 	 = Total: 0.6
ZS-SCE
Pic: 13.4 	 + Dual: 7.2 	 = Total: 20.6
ZP-021
Pic: 0.0 	 + Dual: 0.0 	 = Total: 0.0
ZU-NTC
Pic: 20.7 	 + Dual: 1.6 	 = Total: 22.3
ZS-AJW
Pic: 0.0 	 + Dual: 3.0 	 = Total: 3.0
FNPT2
Pic: 0.0 	 + Dual: 0.0 	 = Total: 0.0
ZU-FIH
Pic: 0.1 	 + Dual: 0.0 	 = Total: 0.1
ZS-NNP
Pic: 51.1 	 + Dual: 0.0 	 = Total: 51.1
ZU-IFY
Pic: 0.0 	 + Dual: 1.0 	 = Total: 1.0
ZU-WAB
Pic: 123.6 	 + Dual: 3.8 	 = Total: 127.4
ZS-AWX
Pic: 0.0 	 + Dual: 4.0 	 = Total: 4.0
ZS-FWK
Pic: 1.0 	 + Dual: 0.0 	 = Total: 1.0

In [10]:
#Output summary by type

Types=df['Type'].unique()
print(Types)

#print(np.size(Types))
for ac in Types: 
    acdf=df[df['Type']==ac]
    print(ac)
    print("Pic: %3.1f \t + Dual: %3.1f \t = Total: %3.1f" %  totals(acdf) )

['C152' 'SIRA' 'C172' 'PA28' 'C150' 'AS98' 'PC12' 'JAB2' 'SF25' 'C77R'
 'C177' 'ZP006' 'X269' 'X312' 'Z090' 'FNPT2' 'RV7' 'C206' 'ZP-021' 'X333'
 'PA J3C' 'P28R']
C152
Pic: 21.6 	 + Dual: 41.0 	 = Total: 62.6
SIRA
Pic: 0.0 	 + Dual: 5.7 	 = Total: 5.7
C172
Pic: 40.4 	 + Dual: 20.5 	 = Total: 60.9
PA28
Pic: 1.5 	 + Dual: 13.7 	 = Total: 15.2
C150
Pic: 5.0 	 + Dual: 0.0 	 = Total: 5.0
AS98
Pic: 0.0 	 + Dual: 0.0 	 = Total: 0.0
PC12
Pic: 0.0 	 + Dual: 0.1 	 = Total: 0.1
JAB2
Pic: 81.8 	 + Dual: 1.3 	 = Total: 83.1
SF25
Pic: 0.0 	 + Dual: 1.8 	 = Total: 1.8
C77R
Pic: 1.2 	 + Dual: 8.0 	 = Total: 9.2
C177
Pic: 3.4 	 + Dual: 7.2 	 = Total: 10.6
ZP006
Pic: 0.0 	 + Dual: 0.0 	 = Total: 0.0
X269
Pic: 39.1 	 + Dual: 7.8 	 = Total: 46.9
X312
Pic: 6.6 	 + Dual: 1.3 	 = Total: 7.9
Z090
Pic: 0.0 	 + Dual: 1.0 	 = Total: 1.0
FNPT2
Pic: 0.0 	 + Dual: 0.0 	 = Total: 0.0
RV7
Pic: 144.3 	 + Dual: 5.4 	 = Total: 149.7
C206
Pic: 51.1 	 + Dual: 3.0 	 = Total: 54.1
ZP-021
Pic: 0.0 	 + Dual: 0.0 	 = Total: 0.0
X333
Pic: 0.0 	 + Dual: 1.0 	 = Total: 1.0
PA J3C
Pic: 0.0 	 + Dual: 4.0 	 = Total: 4.0
P28R
Pic: 1.0 	 + Dual: 0.0 	 = Total: 1.0

In [15]:
#Ouput summary by type for time period as needed for logbook summary
#Yearly summary:
start_date='2021-11-12'
end_date='2022-02-12'

#Yearly summary:
tdf=df.loc[start_date:end_date]

#The types flown during this time period
Types=tdf['Type'].unique()
print(Types)

#Hours per type over the date range.
#print(np.size(Types))
for ac in Types: 
    acdf=tdf[tdf['Type']==ac]
    print(ac)
    print("Pic: %3.1f \t + Dual: %3.1f \t = Total: %3.1f" %  totals(acdf) )
    
#And for the year
print("PIC: %3.1f  * DUAL: %3.1f  * TOTAL: %3.1f" % totals(tdf) )

['RV7']
RV7
Pic: 10.2 	 + Dual: 0.0 	 = Total: 10.2
PIC: 10.2  * DUAL: 0.0  * TOTAL: 10.2

/tmp/ipykernel_7581/3344580559.py:7: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  tdf=df.loc[start_date:end_date]

In [12]:
#Ouput summary by type for time period as needed for logbook summary AND write to CSV

#initialiSe t_list and new data frame for logbook summary
sdf=pd.DataFrame(columns=summary_header,index=Types)


#Yearly summary:
tdf=df.loc[start_date:end_date]
#The unique types flown during this time period
Types=tdf['Type'].unique()

#Hours per type over the date range.
#print(np.size(Types))
for ac in Types: 
    #in this time period get entries for one type at a time
    acdf=tdf[tdf['Type']==ac]  
    print(ac)
    print("Pic: %3.1f \t + Dual: %3.1f \t = Total: %3.1f" %  totals(acdf) )
    t_list=[acdf[head].sum() for head in summary_header]
    sdf.at[ac,summary_header]=t_list


#And for the year
print("\n PIC: %3.1f  * DUAL: %3.1f  * TOTAL: %3.1f" % totals(tdf) )

sdf.head()
sdf.to_csv('output.csv')
#sdf.to_csv('output.csv', columns = summary_header)

sdf.head()

RV7
Pic: 39.2 	 + Dual: 3.8 	 = Total: 43.0
C206
Pic: 16.2 	 + Dual: 0.0 	 = Total: 16.2
PA J3C
Pic: 0.0 	 + Dual: 4.0 	 = Total: 4.0
ZP-021
Pic: 0.0 	 + Dual: 0.0 	 = Total: 0.0

 PIC: 55.4  * DUAL: 7.8  * TOTAL: 63.2

/tmp/ipykernel_7581/1500554796.py:8: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  tdf=df.loc[start_date:end_date]

,IT_Act,IT_FSTD,In_ME,In_SE,In_Sim,FSTD,SED_Dual,SED_Pic,SED_Pus,SED_Cop,...,MED_Dual,MED_Pic,MED_Pus,MED_Cop,MEN_Dual,MEN_Pic,MEN_Pus,MEN_Cop,TOL_Day,TOL_Nig
RV7,0.5,0.0,0.0,0.0,0.0,0.0,3.8,39.2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,62.0,0.0
C206,0.1,0.0,0.0,0.0,0.0,0.0,0.0,16.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.0,1.0
PA J3C,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,43.0,0.0
ZP-021,0.0,1.0,0.0,0.0,0.0,1.1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
#Ouput summary by type for time period as needed for logbook summary AND write to CSV

#initialiSe t_list and new data frame for logbook summary
asdf=pd.DataFrame(columns=summary_header,index=Types)

#The unique types flown 
Types=df['Type'].unique()

#Hours per type over the date range.
#print(np.size(Types))
for aac in Types: 
    #in this time period get entries for one type at a time
    aacdf=df[df['Type']==aac]  
    print(aac)
    print("Pic: %3.1f \t + Dual: %3.1f \t = Total: %3.1f" %  totals(aacdf) )
    a_list=[aacdf[head].sum() for head in summary_header]
    asdf.at[aac,summary_header]=a_list


#And for the year
print("\n PIC: %3.1f  * DUAL: %3.1f  * TOTAL: %3.1f" % totals(df) )

asdf.head()
asdf.to_csv('all_output.csv')
#sdf.to_csv('output.csv', columns = summary_header)

asdf.head()

C152
Pic: 21.6 	 + Dual: 41.0 	 = Total: 62.6
SIRA
Pic: 0.0 	 + Dual: 5.7 	 = Total: 5.7
C172
Pic: 40.4 	 + Dual: 20.5 	 = Total: 60.9
PA28
Pic: 1.5 	 + Dual: 13.7 	 = Total: 15.2
C150
Pic: 5.0 	 + Dual: 0.0 	 = Total: 5.0
AS98
Pic: 0.0 	 + Dual: 0.0 	 = Total: 0.0
PC12
Pic: 0.0 	 + Dual: 0.1 	 = Total: 0.1
JAB2
Pic: 81.8 	 + Dual: 1.3 	 = Total: 83.1
SF25
Pic: 0.0 	 + Dual: 1.8 	 = Total: 1.8
C77R
Pic: 1.2 	 + Dual: 8.0 	 = Total: 9.2
C177
Pic: 3.4 	 + Dual: 7.2 	 = Total: 10.6
ZP006
Pic: 0.0 	 + Dual: 0.0 	 = Total: 0.0
X269
Pic: 39.1 	 + Dual: 7.8 	 = Total: 46.9
X312
Pic: 6.6 	 + Dual: 1.3 	 = Total: 7.9
Z090
Pic: 0.0 	 + Dual: 1.0 	 = Total: 1.0
FNPT2
Pic: 0.0 	 + Dual: 0.0 	 = Total: 0.0
RV7
Pic: 144.3 	 + Dual: 5.4 	 = Total: 149.7
C206
Pic: 51.1 	 + Dual: 3.0 	 = Total: 54.1
ZP-021
Pic: 0.0 	 + Dual: 0.0 	 = Total: 0.0
X333
Pic: 0.0 	 + Dual: 1.0 	 = Total: 1.0
PA J3C
Pic: 0.0 	 + Dual: 4.0 	 = Total: 4.0
P28R
Pic: 1.0 	 + Dual: 0.0 	 = Total: 1.0

 PIC: 397.0  * DUAL: 122.8  * TOTAL: 519.8

,IT_Act,IT_FSTD,In_ME,In_SE,In_Sim,FSTD,SED_Dual,SED_Pic,SED_Pus,SED_Cop,...,MED_Dual,MED_Pic,MED_Pus,MED_Cop,MEN_Dual,MEN_Pic,MEN_Pus,MEN_Cop,TOL_Day,TOL_Nig
RV7,2.2,0.0,0.0,0.0,0.0,0.0,5.4,143.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,287.0,4.0
C206,0.1,0.0,0.0,0.0,0.0,0.0,3.0,50.4,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,102.0,3.0
PA J3C,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,43.0,0.0
ZP-021,0.0,7.9,0.0,0.0,0.0,8.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0
C152,6.2,0.0,0.0,0.0,0.0,0.0,36.566667,16.616667,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,92.0,22.0

In [14]:
#ugly way to get total tailwheel time

#Ouput summary by type for time period as needed for logbook summary AND write to CSV

#initialiSe t_list and new data frame for logbook summary
asdf=pd.DataFrame(columns=summary_header,index=Types)

#The unique types flown 
Types=df['Type'].unique()
subtypes=['X269','PA J3C']
#Hours per type over the date range.
#print(np.size(Types))
for aac in subtypes: 
    #in this time period get entries for one type at a time
    aacdf=df[df['Type']==aac]  
    print(aac)
    print("Pic: %3.1f \t + Dual: %3.1f \t = Total: %3.1f" %  totals(aacdf) )
    a_list=[aacdf[head].sum() for head in summary_header]
    asdf.at[aac,summary_header]=a_list


#And for the year
print("\n PIC: %3.1f  * DUAL: %3.1f  * TOTAL: %3.1f" % totals(df) )

#Output summary by registration

subreg=['ZU-WAB']
#print(np.size(Types))
for reg in subreg: 
    regdf=df[df['Reg']==reg]
    print(reg)
    print("Pic: %3.1f \t + Dual: %3.1f \t = Total: %3.1f" %  totals(regdf) )

print(46.9+4+37.2)

X269
Pic: 39.1 	 + Dual: 7.8 	 = Total: 46.9
PA J3C
Pic: 0.0 	 + Dual: 4.0 	 = Total: 4.0

 PIC: 397.0  * DUAL: 122.8  * TOTAL: 519.8
ZU-WAB
Pic: 123.6 	 + Dual: 3.8 	 = Total: 127.4
88.1